/* SCSS HEX */
$french-rose: #EA5091ff;
$tiffany-blue: #84D0C8ff;
$indigo-dye: #20506Cff;
$dark-purple: #09011Fff;
$palatinate: #621651ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-right: linear-gradient(90deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-bottom: linear-gradient(180deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-left: linear-gradient(270deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-top-right: linear-gradient(45deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-bottom-right: linear-gradient(135deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-top-left: linear-gradient(225deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-bottom-left: linear-gradient(315deg, #EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);
$gradient-radial: radial-gradient(#EA5091ff, #84D0C8ff, #20506Cff, #09011Fff, #621651ff);