@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_colors.scss';

body {
    background-color: #000;
    background-image: url('/images/bg.png');
}
.text-primary {
    color: $ice-blue !important;
}

.text-secondary {
    color: $rose;
}

.text-gradient {
    background: $gradient-left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-primary {
    border-color: $ice-blue !important;
}
.border-secondary {
    border-color: $rose;
}

.bg-primary {
    background-color: $ice-blue !important;
}
.bg-secondary {
    background-color: $rose !important;
}
